<nav class="navbar">
    <div class="navbar-title">Doctor Appointment Management System</div>
    <!-- <button class="register-btn" (click)="router.navigate(['/'])">Home</button> -->
  </nav>
  
  <div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <label>New Password</label>
      <input type="password" formControlName="newPassword" required>
      <div *ngIf="resetForm.controls.newPassword.invalid && resetForm.controls.newPassword.touched">
        Password must be at least 8 characters.
      </div>
  
      <button type="submit" [disabled]="resetForm.invalid">Reset Password</button>
    </form>
  
    <p *ngIf="message">{{ message }}</p>
  </div>
  